<!--The content below is only a placeholder and can be replaced.-->
<a-scene leap light="defaultLightsEnabled:false" vr-mode-ui="enabled: true">
  <a-assets>
    <img id="rounded_edges" src="../assets/poster1.png">
    <img id="poster1" src="../assets/poster2.png">
    <img id="poster2" src="../assets/rounded_edges.png">
  </a-assets>

  <a-entity light="type: ambient; color: #FFFFFF; intensity: 0.58" position="0 4 0">
  </a-entity>
  <a-entity light="type: spot; castShadow:true; color: #FFFFFF; intensity: 0.3" position="0 2 0">
  </a-entity>
  <a-entity light="type: spot; castShadow:true; color: #FFFFFF; intensity: 0.3" position="0 1 0">
  </a-entity>
  <a-entity foo id="hexagon" animation="property: rotation; to:0 -60 0;startEvents :rot0, repeat: 1" animation__2="property: rotation; to:0 -120 0;startEvents :rot1, repeat: 1"
    animation__3="property: rotation; to:0 -180 0;startEvents :rot2, repeat: 1" animation__4="property: rotation; to:0 -240 0;startEvents :rot3, repeat: 1"
    animation__5="property: rotation; to:0 -300 0;startEvents :rot4, repeat: 1" animation__6="property: rotation; to:0 0 0;startEvents :rot5, repeat: 1"
    position ="0 0 -2"
    >
    <!-- each one of these boxes consists of the cards that we are going to use  -->
    <a-box src="#poster1"  shadow="receive:true;cast:true" material="transparent:true" position="0 1.5 -4"
      rotation="0 0 0" width="4" height="6" depth="0.01">
      <a-box shadow="cast:true;receive:true" position="0 -0.5 0.35" material="transparent:true" rotation="0 0 0"
        width="3.75" height="3" depth="0.01">
      </a-box>
    </a-box>

    <a-box src="#poster2" shadow="receive:true;cast:true" material="transparent:true" position="3.375 1.5 -1.948" rotation="0 -60 0" width="4"
      height="6" depth="0.01">
       <a-box shadow="cast:true;receive:true" position="0 -0.5 0.35" material="transparent:true" rotation="0 0 0"
        width="3.75" height="3" depth="0.01">
      </a-box>
    </a-box>

    <a-box src="#poster1" shadow="receive:true;cast:true" material="transparent:true" position="-3.375 1.5 -1.948" rotation="0 60 0" width="4"
      height="6" depth="0.01">
       <a-box shadow="cast:true;receive:true" position="0 -0.5 0.35" material="transparent:true" rotation="0 0 0"
        width="3.75" height="3" depth="0.01">
      </a-box>
    </a-box>

    <a-box src="#poster2" shadow="receive:true;cast:true" material="transparent:true" position="0 1.5 4" rotation="0 180 0" width="4" height="6"
      depth="0.01">
       <a-box shadow="cast:true;receive:true" position="0 -0.5 0.35" material="transparent:true" rotation="0 0 0"
        width="3.75" height="3" depth="0.01">
      </a-box>
    </a-box>

    <a-box src="#rounded_edges" shadow="receive:true;cast:true" material="transparent:true" position="3.375 1.5 1.948" rotation="0 -120 0" width="4"
      height="6" depth="0.01">
       <a-box shadow="cast:true;receive:true" position="0 -0.5 0.35" material="transparent:true" rotation="0 0 0"
        width="3.75" height="3" depth="0.01">
      </a-box>
    </a-box>

    <a-box src="#rounded_edges" shadow="receive:true;cast:true" material="transparent:true" position="-3.375 1.5 1.948" rotation="0 120 0" width="4"
      height="6" depth="0.01">
       <a-box shadow="cast:true;receive:true" position="0 -0.5 0.35" material="transparent:true" rotation="0 0 0"
        width="3.75" height="3" depth="0.01">
      </a-box>
    </a-box>
  </a-entity>
  <a-sky color="#E9E9EA"></a-sky>
</a-scene>
<router-outlet></router-outlet>
